<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeeadmin.mapper.CloudActivityEnclosureMapper" >
  <resultMap id="BaseResultMap" type="com.jeeadmin.entity.CloudActivityEnclosure" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="activity_id" property="activityId" jdbcType="BIGINT" />
    <result column="enclosure_id" property="enclosureId" jdbcType="BIGINT" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    activity_id, enclosure_id, create_user, create_date, update_user, update_date
  </sql>
    <delete id="deleteActivityEnclosureByActivityId" parameterType="long">
        delete cae.* from cloud_activity_enclosure cae where cae.activity_id = #{id}
    </delete>
</mapper>