<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeeadmin.mapper.CloudActivityMapper" >
  <resultMap id="BaseResultMap" type="com.jeeadmin.entity.CloudActivity" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="activity_tile" property="activityTile" jdbcType="VARCHAR" />
    <result column="activity_code" property="activityCode" jdbcType="VARCHAR" />
    <result column="form_code" property="formCode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="activity_address" property="activityAddress" jdbcType="LONGVARCHAR" />
    <result column="activity_comment" property="activityComment" jdbcType="LONGVARCHAR" />
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id, activity_tile, activity_code, form_code, remark, create_user, create_date, update_user, update_date, activity_address, activity_comment
  </sql>

    <select id="selectByUserId" parameterType="long" resultType="com.jeeadmin.entity.CloudActivity">
        SELECT
            ca.id,
            ca.activity_tile,
            ca.activity_address,
            ca.activity_comment,
            ca.remark,
            ca.create_user,
            ca.create_date,
            ca.update_user,
            ca.update_date,
            ca.ma_id,
            cdd.dict_value codeName,
            cdd2.dict_value fromName
        FROM
            cloud_activity ca
            INNER JOIN cloud_activity_party_member capm ON capm.activity_id = ca.id
            INNER JOIN cloud_party_member cpm ON cpm.id = capm.party_member_id
            INNER JOIN cloud_user cu ON cu.id = cpm.user_id
            INNER JOIN cloud_dict_data cdd ON ca.activity_code = cdd.data_code
	        INNER JOIN cloud_dict_data cdd2 ON ca.form_code = cdd2.data_code
        WHERE
            cu.id = #{id}
            AND ca.activity_status != 2
    </select>

    <select id="selectProcessed" parameterType="long" resultType="com.jeeadmin.entity.CloudActivity">
        SELECT
            ca.id,
            ca.activity_tile,
            ca.activity_address,
            ca.activity_comment,
            ca.remark,
            ca.create_user,
            ca.create_date,
            ca.update_user,
            ca.update_date,
            ca.ma_id,
            cdd.dict_value codeName,
            cdd2.dict_value fromName
        FROM
            cloud_activity ca
            INNER JOIN cloud_activity_party_member capm ON capm.activity_id = ca.id
            INNER JOIN cloud_party_member cpm ON cpm.id = capm.party_member_id
            INNER JOIN cloud_user cu ON cu.id = cpm.user_id
            INNER JOIN cloud_dict_data cdd ON ca.activity_code = cdd.data_code
	        INNER JOIN cloud_dict_data cdd2 ON ca.form_code = cdd2.data_code
        WHERE
            cu.id = #{id}
            AND ca.activity_status in (1,3)
    </select>

    <select id="selectUntreated" parameterType="long" resultType="com.jeeadmin.entity.CloudActivity">
        SELECT
            ca.id,
            ca.activity_tile,
            ca.activity_address,
            ca.activity_comment,
            ca.remark,
            ca.create_user,
            ca.create_date,
            ca.update_user,
            ca.update_date,
            ca.ma_id,
            cdd.dict_value codeName,
            cdd2.dict_value fromName
        FROM
            cloud_activity ca
            INNER JOIN cloud_activity_party_member capm ON capm.activity_id = ca.id
            INNER JOIN cloud_party_member cpm ON cpm.id = capm.party_member_id
            INNER JOIN cloud_user cu ON cu.id = cpm.user_id
            INNER JOIN cloud_dict_data cdd ON ca.activity_code = cdd.data_code
	        INNER JOIN cloud_dict_data cdd2 ON ca.form_code = cdd2.data_code
        WHERE
            cu.id = #{id}
            AND ca.activity_status = 4
    </select>

    <select id="selectPartyMemberByUserId" parameterType="long" resultType="com.jeeadmin.entity.CloudActivity">
        SELECT
            ca.id,
            ca.activity_tile,
            ca.activity_address,
            ca.activity_comment,
            ca.remark,
            ca.create_user,
            ca.create_date,
            ca.update_user,
            ca.update_date,
            ca.ma_id,
            cdd.dict_value codeName,
            cdd2.dict_value fromName
        FROM
            cloud_activity ca
            INNER JOIN cloud_examine ce ON ca.id = ce.foreign_id
            INNER JOIN cloud_examine_user ceu ON ceu.examine_id = ce.id
            INNER JOIN cloud_dict_data cdd ON ca.activity_code = cdd.data_code
            INNER JOIN cloud_dict_data cdd2 ON ca.form_code = cdd2.data_code
        WHERE
            ceu.party_member_id = ?
            AND ca.activity_status = 4
    </select>

</mapper>