<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeeadmin.mapper.CloudOrgMapper" >
  <resultMap id="BaseResultMap" type="com.jeeadmin.entity.CloudOrg" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="parent_id" property="parentId" jdbcType="BIGINT" />
    <result column="org_code" property="orgCode" jdbcType="VARCHAR" />
    <result column="org_name" property="orgName" jdbcType="VARCHAR" />
    <result column="org_short_name" property="orgShortName" jdbcType="VARCHAR" />
    <result column="org_party_member_id" property="orgPartyMemberId" jdbcType="VARCHAR" />
    <result column="org_sort" property="orgSort" jdbcType="INTEGER" />
    <result column="org_status" property="orgStatus" jdbcType="CHAR" />
    <result column="leaf_flag" property="leafFlag" jdbcType="CHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="top_level" property="topLevel" jdbcType="VARCHAR" />
      <result column="vice_secretary_party_id" property="viceSecretaryPartyId" jdbcType="VARCHAR" />
      <result column="contact_person_party_id" property="contactPersonPartyId" jdbcType="VARCHAR" />
      <result column="organizing_ommittee_party_id" property="organizingOmmitteePartyId" jdbcType="VARCHAR" />
      <result column="promoter_party_id" property="promoterPartyId" jdbcType="VARCHAR" />
      <result column="discipline_inspection_party_id" property="disciplineInspectionPartyId" jdbcType="VARCHAR" />
      <result column="youth_committee_party_id" property="youthCommitteePartyId" jdbcType="VARCHAR" />
      <result column="party_number" property="partyNumber" jdbcType="INTEGER" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="org_type_code" property="orgTypeCode" jdbcType="VARCHAR" />
    <result column="org_tel_number" property="orgTelNumber" jdbcType="VARCHAR" />
    <result column="org_address" property="orgAddress" jdbcType="VARCHAR" />

  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id, parent_id, org_code, org_name, org_short_name, org_party_member_id,  org_sort, org_status, leaf_flag,
     remark, top_level, create_user, create_date, update_user, update_date,org_type_code,vice_secretary_party_id,
     contact_person_party_id,organizing_ommittee_party_id,promoter_party_id,discipline_inspection_party_id,
     youth_committee_party_id,party_number,org_tel_number,org_address
  </sql>
  <select id="selectAllOrgDetail" resultType="com.jeeadmin.vo.org.CloudOrgVo">
    SELECT
		co.id,
        co.parent_id,
        co.org_code,
        co.org_name,
        co.org_short_name,
        co.org_party_member_id,
        co.org_sort,
        co.org_status,
        co.leaf_flag,
        co.remark,
        co.top_level,
        co.create_user,
        co.create_date,
        co.update_user,
        co.update_date,
        co.org_type_code,
        co.org_tel_number,
        co.org_address
        co.vice_secretary_party_id,
        co.contact_person_party_id,
        co.organizing_ommittee_party_id,
        co.promoter_party_id,
        co.discipline_inspection_party_id,
        co.youth_committee_party_id
FROM
	cloud_org co
	INNER JOIN cloud_party_member cpm ON co.org_party_member_id = cpm.id
WHERE
	org_party_member_id = 1
  </select>
    <select id="selectOrgsCount" resultType="java.lang.Long">
        SELECT
	count( id )
FROM
	cloud_org
	WHERE
	    1 = 1


    </select>
</mapper>