<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeeadmin.mapper.CloudEnclosureMapper" >
  <resultMap id="BaseResultMap" type="com.jeeadmin.entity.CloudEnclosure" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="md5_code" property="md5Code" jdbcType="VARCHAR" />
    <result column="enclosure_type" property="enclosureType" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="enclosure_path" property="enclosurePath" jdbcType="LONGVARCHAR" />
    <result column="enclosure_name" property="enclosureName" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List">
    id, md5_code, enclosure_type, remark, enclosure_path, enclosure_name, create_user, create_date, update_user, update_date
  </sql>
    <delete id="deleteCloudEnclosureByActivityRecordId" parameterType="long" >
        delete ce,care
        from cloud_enclosure ce
        inner join cloud_activity_record_enclosure care on ce.id = care.enclosure_id
        where care.activity_record_id = #{id}
    </delete>

    <delete id="deleteCloudEnclosureByActivityId" parameterType="long">

        delete ce,cae
        from cloud_enclosure ce inner join cloud_activity_enclosure cae
        on ce.id = cae.enclosure_id
        where cae.activity_id = #{id}
    </delete>

</mapper>