<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jeeadmin.mapper.CloudMeetingMapper" >
  <resultMap id="BaseResultMap" type="com.jeeadmin.entity.CloudMeeting" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="meeting_tile" property="meetingTile" jdbcType="VARCHAR" />
    <result column="type_code" property="typeCode" jdbcType="VARCHAR" />
    <result column="meeting_address" property="meetingAddress" jdbcType="VARCHAR" />
    <result column="meeting_time" property="meetingTime" jdbcType="TIMESTAMP" />
    <result column="form_code" property="formCode" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="meeting_comment" property="meetingComment" jdbcType="LONGVARCHAR" />
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    id, meeting_tile, type_code, meeting_address, meeting_time, form_code, remark, meeting_comment, create_user, create_date, update_user, update_date
  </sql>


  <select id="selectAllMeetings" resultType="com.jeeadmin.vo.meeting.CloudMeetingVo">
    select cm.id, cm.meeting_time, cm.meeting_tile, cm.meeting_address, cm.meeting_comment,
	cdd.dict_value formName, cdd2.dict_value typeName, cpm.member_name memberName, cmpm.create_date oneCreateDate
        from cloud_meeting cm
	    inner join cloud_dict_data cdd on cm.form_code = cdd.data_code
	    inner join cloud_dict_data cdd2 on cm.type_code = cdd2.data_code
	    inner join cloud_meeting_party_member cmpm on cm.id = cmpm.meeting_id
	    inner join cloud_party_member cpm on cpm.id = cmpm.party_member_id
	where cmpm.promoter_flag = 1 and cm.id in
	    <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
          #{item}
        </foreach>
  </select>

    <select id="selectMeetingDetail" parameterType="long" resultType="com.jeeadmin.vo.meeting.CloudMeetingDetailVo">
        SELECT
            cm.id,
            cm.meeting_time,
            cm.meeting_tile,
            cm.meeting_address,
            cm.meeting_comment,
            cdd.dict_value formName,
            cdd2.dict_value typeName,
            cpm.member_name memberName,
            cmpm.create_date oneCreateDate,
            ce.enclosure_name enclosureName,
            ce.enclosure_path enclosurePath
        FROM
            cloud_meeting cm
            INNER JOIN cloud_dict_data cdd ON cm.form_code = cdd.data_code
            INNER JOIN cloud_dict_data cdd2 ON cm.type_code = cdd2.data_code
            INNER JOIN cloud_meeting_party_member cmpm ON cm.id = cmpm.meeting_id
            INNER JOIN cloud_party_member cpm ON cpm.id = cmpm.party_member_id
            INNER JOIN cloud_meeting_enclosure cme ON cme.meeting_id = cm.id
            INNER JOIN cloud_enclosure ce ON cme.enclosure_id = ce.id
        WHERE
            cmpm.promoter_flag = 1
            AND cm.id = #{id}
    </select>

    <select id="selectJoinMembersByMeetingId" parameterType="long" resultType="string">
        SELECT
            cpm.member_name joinMemberName
        FROM
            cloud_meeting cm
            INNER JOIN cloud_meeting_party_member cmpm ON cmpm.meeting_id = cm.id
            INNER JOIN cloud_party_member cpm ON cmpm.party_member_id = cpm.id
        WHERE
            cm.id = #{id}
    </select>

</mapper>